[2015-01-27 10:27] splattael opened #2 "Create test helpers"
It would be nice to streamline testing for candy check so stubbing verification gets easier.

More info to follow.

[2016-04-12 09:36] Niklas9 opened #3 "NoMethodError: undefined method `URI' for #<CandyCheck::AppStore::Client:0x007f4f0f6326c0>"
While trying to validate a certain receipt with shared secret, I get this error:

[code]

Was just following the documentation in the README.md for AppStore to get this.

[2016-04-12 10:30] jnbt commented on #3
Hi @Niklas9,

this surely is a bug. Thanks for noticing me. I think we never used this gem in isolation, so in other environments "net/http" was already loaded.

if fixed this problem in 1cee24e and published version `0.0.5` . Maybe you want to give it another try.

[2016-04-12 11:42] Niklas9 commented on #3
Ha, works! Thanks for the short response time

[2016-04-12 11:42] #3 closed

[2016-04-12 11:43] jnbt commented on #3
If you find further problems don't hesitate to ask.

[2016-04-12 12:31] Niklas9 opened #4 "Key 'latest_receipt_info' missing in receipt data from App Store"
The key 'latest_receipt_info' is missing in receipt data from App Store. As specified here:
https://developer.apple.com/library/ios/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html.

The other keys, like "receipt" and "status" etc seems to be included.

Is there any specific reason to leave 'latest_receipt_info' out?

This is needed to be able to get in-app subscriptions

[2016-04-13 08:02] jnbt commented on #4
Hi @Niklas9, the documentation states for both `latest_receipt` and `latest_receipt_info`

As iOS 7 is available since 2013 together with the new receipt style, I never thought of supporting these deprecated fields.

I think you can get the same information about subscriptions from the `receipt` data. This object contains a `in_app` field which is documented to hold all auto-renewable subscription

[2016-04-13 13:15] Niklas9 commented on #4
The Apple documentation is outdated in this regard, unfortunately. It has caused me lots of confusion lately as well :)

A subscription, only gets into the "receipt" for the first purchase (signing up for subscriptions).. then the continuous receipts for the recurring period gets added into the latest_receipt_info array.
I can PM you examples if you want.

[2016-04-13 13:15] Niklas9 commented on #4
Thanks for addressing the issues I'm posting so fast and gently btw.. I hope I'll be able to contribute back to the project in code as well soon :)

[2016-04-13 13:28] jnbt commented on #4
This is definitely good to know, as I didn't worked with subscriptions yet. I'll happily accept PRs for this issue or perhaps I'll find some time for this to implement. (In this case examples would be great)

This should be straight forward as the actual "interpretation" of the results from Apple's servers isn't included into the gem. (At the end the gem helps to communicate with the servers, but

[2016-06-09 08:18] klaseskilson commented on #4
Hey @jnbt, just thought I'd let you know that I'm working on subscription support, such as getting the latest expiration date and seeing if the subscription is part of a trial period. I'll send you a PR soon.

[2016-06-10 07:46] jnbt commented on #4
Sounds great!

[2016-06-15 08:36] jnbt commented on #4
Work is done in #6

[2016-06-15 08:38] jnbt opened #7 "Add CLI support for subscriptions"
Subscription were introduces by #6.

The current implementation lacks a CLI. This is needed to perform manual verifications of subscriptions.

[2016-06-15 08:46] jnbt opened #8 "Investigate how to do (manual) testing of subscription verifications"
I really would like to do some real API usages (at least against the sandbox APIs) for verification of subscription based purchases.

Currently I assume this would require:

* A dummy iOS app + a configured In-App-Purchase subscription
* A dummy Android (PlayStore) app + a configured In-App-Purchase subscription
* The secrets to connect to the iTunes / PlayStore APIs

[2016-06-24 08:22] jnbt commented on #4
I'm currently very short in time. As @klaseskilson already developed the subscription support you can use this gem directly from GitHub if you need the feature:

In Gemfile:

[code]

[2016-06-24 08:22] #4 closed

[2016-10-21 07:13] anilappvolution commented on #4
{
    environment = Sandbox;
    "latest_receipt" = "MIJSeQYJKoZIhvcNAQcCoIJSajCCUmYCAQExCzAJBgUrDgMCGgUAMIJCGgYJKoZIhvcNAQcBoIJCCwSCQgcxgkIDMAoCAQgCAQEEAhYAMAoCARQCAQEEAgwAMAsCAQECAQEEAwIBADALAgEDAgEBBAMMATMwCwIBCwIBAQQDAgEAMAsCAQ4CAQEEAwIBWjALAgEPAgEBBAMCAQAwCwIBEAIBAQQDAgEAMAsCARkCAQEEAwIBAzAMAgEKAgEBBAQWAjQrMA0CAQ0CAQEEBQIDAYaiMA0CARMCAQEEBQwDMS4wMA4CAQkCAQEEBgIEUDI0NzAYAgEEAgECBBDwvjVsCFLuYGs

[2016-10-21 08:34] jnbt commented on #4
@anilappvolution I'm willing to help here, but please open a new issue for your problem. Also some steps to reproduce your problem would be great.

[2016-10-24 15:06] AhmedAttyah opened #9 "verify_subscription is not included on RubyGems gem"
The Gem file published on RubyGems doesn't have :verify_subscription method for some reason. Even though it is the same version as the latest on the repo. currently. I had to refer to this github repo. in my Gemfile in order to get it.

[2016-10-24 18:36] klaseskilson commented on #9
AFAIK, @jnbt decided not to publish the subscription support yet since it is still lacking proper testing. See #7 and #8. Until this has been solved, you need to use the pre-release version here at GitHub.

[2016-10-25 08:31] jnbt commented on #9
For convenience I've released a pre-release version to Rubygems:

    gem "candy_check", "0.1.0.pre"

or

    $ gem install candy_check --pre

[2016-10-25 08:32] jnbt commented on #9
@klaseskilson @AhmedAttyah Can you confirm that the subscription verification is working for sandbox and production?

[2016-10-27 04:43] fourcolors commented on #2
I'd also like this

[2016-10-27 05:00] fourcolors opened #10 "Include an instance of the verifier to be used in rails"
It would be nice to do the configuration and initialization items for a rails app in the initializer then use the verifier in a controller. ie

`CandyCheck.verifier(params)`

[2016-10-27 07:24] klaseskilson commented on #10
You can add a simple [initializer](http://guides.rubyonrails.org/configuring.html#using-initializer-files) to do this. I think that is a better solution in order to avoid to make this project Rails-specific.

[2016-10-28 14:53] fourcolors commented on #10
@klaseskilson I kind of agree with that... hm.. I wrote a little wrapper for this gem to plug it into Rails. I'll publish once I get my feature developed out.

Quick question, whats the whole "key_file" thing? https://developers.google.com/android-publisher/authorization doesn't reference that at all.

[2016-10-28 15:09] fourcolors commented on #10
Ok, nm I found where to generate that file. These authentication systems are pretty complete sometimes.

[2016-10-28 15:09] #10 closed

[2016-10-28 15:14] fourcolors opened #11 "add support for json key type vs p12"
**system**
Google Play Store Authentication

**background**
The p12 system is a little out dated. Google recommends that we use the .json key file it would be nice to be able to use either a .json or p12 file

**expected behavior**
For the key file, you should be able to use a .json or p12 file

[2016-10-31 08:11] jnbt commented on #10
Thanks for opening #11.

[2016-10-31 08:12] jnbt commented on #11
You're totally right here. I think it makes sense to update the `google-api-client` dependency. I'll try to look into this soon, but sadly I'm currently under a high workload.

[2016-10-31 08:23] jnbt commented on #2
Let's discuss the feature-set for this test helper:

* I expect to fake the results of `CandyCheck::AppStore::Verifier` and `CandyCheck::PlayStore::Verifier`: returning a `Receipt`, a `VerificationFailure` or raising an error.
* Should this be done globally or per instance? Global faking would make the test look nicer, but I fear problems due to concurrency.
* I think we need a core implementation

[2016-10-31 08:33] jnbt commented on #11
In fact the p12-based key-storage seems to be deprecated. Maybe it is sufficient to go for a breaking change here and only support the JSON-based key file.

[2016-10-31 16:09] fourcolors commented on #11
@jnbt I have a high workload for the next little bit too but could have some time in a week.

It would be nice if there was a deprecation warning until a version bump for the JSON-based key file.

[2016-10-31 16:36] fourcolors commented on #2
So thoughts on this.

I think it should be similar to how the Ruby geocoder gem does it. I know this is a Rails example but here is how we implemented stubbing out geolocation request form that gem, its similar concept in that is using a google api service. In this case, we just have two services, apple and google.

[code]

For reference, the geolocator test app is here: https://github.com/alexrei

[2016-10-31 20:46] fourcolors opened #12 "better README explanations for google play"
**background**
there is some confusion about what some of the options are. For instance, where does one get the 'ApplicationName' or 'version number'

**plan**

explain where to find each of the values or at least what they are suppose to be.

[2016-11-01 04:23] fourcolors commented on #9
I'm trying to get subscription working, right now running into an issue with an `undefined method 'to_hash' for nil:NilClass` when running verifiy_subscription on the verifier

[2016-11-01 04:27] fourcolors commented on #9
Oh, that was an internal issue, not related never mind.

[2016-11-01 05:26] fourcolors commented on #12
I also noticed the `verify_subscription` doc's are incorrect. They use a `!` but in the code that's not implemented

[2016-11-02 12:34] jnbt commented on #2
I think this would be a step in the right direction. In detail the gem should not make assumptions about the test framework, but  could be instrumented as in the given example.

[2016-11-04 09:42] jnbt commented on #12
@fourcolors I've added some information about `application_name` and `application_version` to the README. Can you help me a little bit to locate the issue regarding the `verify_subscription!` mis-documentation?

[2016-11-19 02:50] fourcolors commented on #12
Hey, crazy could of business days with my company so haven't been able to help out. Yeah I'll get to it. Just going to be a moment.

[2017-04-03 23:38] the-mace opened #13 "Expire checks for ReceiptCollection don't work in the iTunes sandbox"
When using the Sandbox the expiration checks are incorrect for the test subscriptions as subscription periods are much shorter.

`expired?` and `overdue_days` are day-based so they may work in production, but on the sandbox things expire much faster (minutes) so the check for expires would be better as something like this:

`r.expires_date < Time.now.utc`

Which would work both in production and t

[2017-04-11 08:31] jnbt commented on #13
@the-mace I get the point of the "faster" time in Apple's sandbox store. I tend to simply use the `r.expires_date < Time.now.utc` solution. Sadly I'm not able to perform manual tests for subscription. Would you or @klaseskilson be able to test the change?

[2017-04-11 17:17] the-mace commented on #13
If you have a change I should be able to test it sometime. I'm using that r.expires_date < Time.now.utc for my expired check in production now.

[2017-04-12 08:33] jnbt commented on #13
@the-mace I think I've fixed this issue. Could you be so kind and check the current master branch?

[code]

[2017-04-19 16:29] the-mace commented on #13
I tested this and it's working as expected. I'm now using the expired? test and it properly showed when it wasnt expired and then when it was expired.

[2017-04-20 08:17] jnbt commented on #11
@fourcolors FYI I started the implementation to support JSON key files for the PlayStore in d9dfad3888ba10ab0c26eff06129a6dd2cdc3dfe

I found a way to support the old p12 files (with a deprecation warning) and the new JSON key files.

[2017-04-20 08:19] jnbt commented on #9
Closes this issue, as the subscription support is now officially released in version `0.1.1` on rubygems.org

[2017-04-20 08:19] #9 closed

[2017-04-20 08:20] jnbt commented on #13
@the-mace Thanks! I've released version `0.1.1` to rubygems.org to address this issue.

[2017-04-20 08:20] #13 closed

[2017-04-20 13:16] the-mace commented on #13
Wonderful, thanks for the support. Now if we can just get apple to let our app through...

[2017-04-20 14:54] jnbt commented on #13
@the-mace I'm feeling with you. It's always the same: waiting, rejection, waiting, rejection, ... :-(

[2017-09-26 10:08] pablocrivella commented on #11
Hey @jnbt! Any updates on this issue? I willing to help with this project if you need me too!

[2017-10-11 22:38] ricky-crichq opened #17 "Writing to PlayStore cache every boot! has concurrency issues"
When using this Gem we started seeing `EOFError: end of file reached`.

[code]

We are pretty sure this is caused by multiple threads trying to save/load the PlayStore Discovery Repository at the same time.

This can be replicated pretty easily:
[code]

Not really sure how best to proceed here but one way to improve this would be to not rewrite the cached file on every boot. Unless there is someth

[2017-10-12 07:45] klaseskilson commented on #17
Good find! Would love some help and/or a PR if you have the time. I guess one thing could be, as you say, to avoid creating the file on every boot.

[2017-10-13 01:14] ricky-crichq commented on #17
Yeap, no problem, we will make some changes to not rewrite the file if it just read from the cache.

[2017-10-15 11:48] sedubois opened #18 "Incompatible with rails 5"
Hello and thank you for sharing your work. Do you plan to finish the upgrade of google API client that you started in [a branch](https://github.com/jnbt/candy_check/tree/update-google-api-client)? Right now candy_check is unusable because it requires google API client 0.8.7 which isn't compatible with Rails 5.

If this library is no longer maintained, do you know another library to recommend for A

[2017-10-30 21:48] ricky-crichq opened #20 "Gem uses server time zone to calculate the current day, not UTC"
When running the tests on my local machine (New Zealand) there was one failure which was caused by time zone issues.

Using `Date.today` respects the machines local time zone when it should be using UTC.

The failed test:
[code]

[2017-11-01 22:55] ricky-crichq commented on #18
Hey @sedubois, what is not compatible? Could you explain and/or provide a link?

Not a maintainer, just curious. We are using this gem fine on rails 5.0.2 but the google api client is pinned to 0.8.6.

[2017-11-02 10:27] jnbt commented on #18
@sedubois: I'm now back in the office after a long time of handling other problems. I'll try catching up the issues in the next days. There is still the plan to update the Google API client, but I need some more time to test it. One of the most delaying fact it that I need to perform manual integration tests :-(

[2017-11-02 10:29] jnbt commented on #11
@pablocrivella I'm now back in the office after a long time handling other problems. I'm still willing to update the Google API client and include the other fixes. Currently my biggest headache is #8.

[2017-11-02 11:35] sedubois commented on #18
Thanks @jnbt that would be great. Right now I’ll try pinning the version as suggested by @ricky-crichq, I’m just not very familiar with gems management (I took over maintenance of a Rails project).

[2018-01-09 12:06] hugoh59 opened #23 "!! #<TypeError: no implicit conversion of String into Integer>"
In Rails 5 app I get this above error when looking for the expire date from the response:

`verification.expires_at`

[2018-01-09 12:26] hugoh1995 commented on #18
How do you guys pinn the google api client to a specific version ? @ricky-crichq Did you managed to make it work ? @sedubois

[2018-01-09 12:30] klaseskilson commented on #23
Hi,

could you share some more insight details what you expected, steps to reproduce the issue and perhaps also a stack trace?

[2018-01-09 12:32] hugoh1995 commented on #23
I have the following method in my rails api:

`def verify_receipt
    config = CandyCheck::AppStore::Config.new( environment: :sandbox )
    verifier = CandyCheck::AppStore::Verifier.new(config)
    verification = verifier.verify_subscription(self.receipt_data, "xxxxxxxxxxxxxxxxxxxx")
  end`

When I do:

`verification.expires_at`

I get the following error:

[2018-01-09 12:37] klaseskilson commented on #23
Ok, thanks. Where does that happen? In what file? What row?

[2018-01-09 12:38] hugoh1995 commented on #23
I get that error message anytime I try to call a method on verification.

[2018-01-09 12:40] hugoh1995 commented on #23
I'm not sure if this could be linked to https://github.com/jnbt/candy_check/issues/18 ?

[2018-01-09 12:45] klaseskilson commented on #23
#18 mostly targets issues regarded to the Google client. We're successfully using CandyCheck in a Rails 5.1.4 app, so it should work fine. Unless you can provide steps for how to reproduce this or where in CandyCheck this very general issue appears, it is hard to help you.

[2018-01-09 13:07] hugoh1995 commented on #23
Here is a screenshot of my debugging console.

<img width="922" alt="screenshot 2018-01-09 14 06 58" src="https://user-images.githubusercontent.com/25149138/34722268-749196de-f546-11e7-82a7-74229db0d1e8.png">

I'm not sure what else I can provide.

[2018-01-09 15:37] sedubois commented on #18
Sorry @hugoh1995, I'm still stuck on Rails 4 and haven't yet decided if I'll upgrade or move to another framework entirely.

[2018-01-09 15:50] klaseskilson commented on #23
What would help is some sort of pointer to where in CandyCheck this was caused. Without being able to reproduce it locally, there is nothing I can do to help you find out how to fix this. There are many places where this generic error could have appeared, and unfortunately the screenshot does not reveal any details to what could have caused this.

What could help is a [stack trace](https://en.wiki

[2018-01-09 16:37] klaseskilson commented on #23
I just got reminded that you might be experiencing some issues with Apple's new receipts. If you're brave and up for it, you could try our WIP branch at https://github.com/fishbrain/candy_check/tree/ios-7.

[2018-01-09 16:43] hugoh1995 commented on #23
Ok I'll give it a try and get back to you! I'll also try to post the stack trace here later today.

[2018-01-10 09:20] hugoh1995 commented on #23
Ok so I wasnt able to make the specific branch work ( tried many things but nothing worked, I never done it in the past ) But here is the full stack trace for the error I'm getting, hope you can figure something our from this.

`DEPRECATION WARNING: #original_exception is deprecated. Use #cause instead. (called from initialize at /usr/local/opt/rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/gems/better_

[2018-01-10 13:43] klaseskilson commented on #23
Ok. What did you experience when trying to run that branch? To use a Gem from a specific branch and repository you do as such:
[code]

To me it looks like this issue originates somewhere in the data that gets returned from Apple. That is  entirely possible since there might have been changes made by Apple since the CandyCheck version you are using was released. These changes are, however, harder t

[2018-01-10 14:28] hugoh1995 commented on #23
Ok so I've just tried with the ios-7 branch version of the gem but still getting same error:

   () usr/local/opt/rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/candy_check-997c3b7af955/lib/candy_check/utils/attribute_reader.rb:10:in `read'
   () usr/local/opt/rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/candy_check-997c3b7af955/lib/candy_check/utils/attribute_reader.rb:30:in `read

[2018-01-10 14:30] hugoh1995 commented on #23
I'm unable to make any use of the verification object below returned by verify_subscription

`#<CandyCheck::AppStore::ReceiptCollection:0x007fa60c3f3f40 @attributes={"original_purchase_date_pst"=>"2018-01-10 06:27:33 America/Los_Angeles", "unique_identifier"=>"9cd2e8a4c032fbebf468110ed0ad4c8290f75d72", "original_transaction_id"=>"1000000365303685", "expires_date"=>"1515594752000", "transaction_id"

[2018-01-10 14:31] hugoh1995 commented on #23
So I'm confident to say that the issue persists.

[2018-01-10 16:10] klaseskilson commented on #23
Thanks for providing the `CandyCheck::AppStore::ReceiptCollection`. From that, it kind of looks like  this is somehow verifying a single renewal of a subscription rather than the whole subscription. I base this on the fact that all the `CandyCheck::AppStore::Unified::InAppReceipt` stored in `@receipts` only contain a single key/value pair (also stored as arrays, and not a hash).

One thing could b

[2018-01-10 16:11] klaseskilson commented on #23
Also, (this might be undocumented), you could try running `app_store_verifier.verify_subscription_with_full_response` instead of `app_store_verifier. verify_subscription `

[2018-01-10 17:08] hugoh1995 commented on #23
Ok thanks a lot I'll try it and get back to you.

I'm using the "transactionReceipt" of type String which is the transaction receipt as a base64 encoded string. Do I have to make any modification before using it inside the Candy Check verified ?

Here is my reciep from the sandbox:

[2018-01-11 10:02] klaseskilson commented on #23
No modifications should be needed. With "transactionReceipt", do you mean the "iOS 6 style transaction receipt" mentioned [here](https://developer.apple.com/library/content/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html#//apple_ref/doc/uid/TP40010573-CH104-SW4) under `latest_receipt_info`? What you need to use is the "iOS 7 style app receipt" instead.

<img width="1019

[2018-01-11 14:34] hugoh1995 commented on #23
Ok so I've tried everything, nothing works expcept `.expires_date` which returns an error

[2018-01-11 14:36] hugoh1995 commented on #23
Also I'm pretty sure I'm getting the iOS 7 receipt since I'm on like iOS 11 in the sandbox. I'm getting the receipt from https://github.com/chirag04/react-native-in-app-utils

[2018-01-11 15:59] klaseskilson commented on #23
Hmm... Ok, I have no experience in using neither that library nor React Native, so my guess is that what `transactionReceipt` returns isn't what you want to use when verifying the subscription using CandyCheck.

[2018-05-11 06:54] zia-qamar opened #25 "No method to cancel subscription"
I want to cancel user subscription. But this gem does not provide any method for that,
[Here](https://developers.google.com/android-publisher/api-ref/purchases/subscriptions/cancel) is documentation from google developer.

[2018-05-11 07:12] klaseskilson commented on #25
Hi @zia-qamar, thanks for your comment. As of now, this Gem is pretty much read-only, to keep things aligned between the Apple and Google platform. I'm happy to take a look at a PR if you don't mind providing one though.

[2018-05-16 11:39] sajmoon opened #26 "Incompatible with Ruby 2.4.4/2.5.1"
Ruby 2.4.4 includes https://bugs.ruby-lang.org/issues/14208 that "raise error if value contains CR/LF in iniheader of initialize_http_header".

So during initialisation of the application during `boot!` it crashed from what i think is a request to the google api.

The issue is easy to reproduce. Running the specs of this gem with ruby 2.4.4.
Or running the specs with ruby 2.5.1

Example output fro

[2018-05-18 09:28] leogiertz commented on #26
@jnbt Would be fantastic if you could take a look at this. 🎈

[2018-05-18 13:10] jnbt commented on #26
@sajmoon @leogiertz @klaseskilson I've started a small PR on this matter #27
In case the tests are green on Travis, I'll merge and publish a bugfix release.

[2018-05-21 07:02] sajmoon commented on #26
This is awesome! Thank you.

I will try to test the branch today.

[2018-06-25 12:44] jnbt commented on #26
#27 released as 0.1.2

/cc @sajmoon @leogiertz @klaseskilson

[2018-06-25 12:44] #26 closed

[2018-06-25 13:30] sajmoon commented on #26
👍 awesome @jnbt

[2018-07-30 12:29] Faisal-nfl opened #28 "Permission denied for tmp/candy_check_play_store_cache"
I deployed project on cloud66 (digital ocean) & when I try to access rails console it gives permission error for tmp/candy_check_play_store_cache

`/var/deploy/kids/web_head/shared/bundle/ruby/2.3.0/gems/candy_check-0.1.1/lib/candy_check/play_store/discovery_repository.rb:27:in initialize: Permission denied @ rb_sysopen - tmp/candy_check_play_store_cache (Errno::EACCES)`

any solution for this?

[2018-08-09 08:18] pfeiffer commented on #18
Would be really great to bump dependency on google-api-client to maintain compatibility with newer versions of ruby (2.3.7, 2.4.x and 2.5):

See: https://github.com/google/google-api-ruby-client/pull/648
And: https://bugs.ruby-lang.org/issues/14664

[2018-08-09 08:28] pfeiffer commented on #18
I see that it's (somehow) mitigated in https://github.com/jnbt/candy_check/pull/27 by setting the user agent manually. However in our case we're using google-api-client for other stuff as well, and it would be great to be able to use the client without having to manually set user agent and migrate to newer versions of the api-client :-)

[2018-08-09 09:49] jnbt commented on #18
@pfeiffer I totally agree on this. Sadly I'm currently very limited in time and the newer Google API client has a totally different design and authentication mechanism.

[2018-08-09 09:50] pfeiffer commented on #18
Totally understand! I appreciate the work you've done with this lib. I see that there's a branch with some changes.

Would it be possible for you do document what is missing, needs to be done etc. so I or someone else could take a stab at finishing it?

[2018-11-15 03:09] utiq opened #30 "How to handle trial periods"
I don't understand how this works, I'm offering a trial period of 15 days to my users. I can see there is an attribute **is_trial_period** = true. But also **purchase_date_pst** and **expires_date_pst** are almost the same.
[code]

[2018-11-26 09:14] ljachymczyk opened #31 "google-api-client dependency outdated"
candy_check requires google-api-client (~> 0.8.6) while the most up to date version available is 0.25.0 (https://rubygems.org/gems/google-api-client/versions/0.25.0).

Do you plan to update this dependency?

[2019-01-15 07:41] catacs opened #32 "IOS expired subscription verification got VerificationFailure"
When a user cancel a subscription and from server side I check the subscription later, I get VerificationFailure with code 21006 and message:

The message is self explanatory, the subscription data should be parsed from the response. The result must contains a Receipt when call `verify` method and  ReceiptCollection for `verify_subscription` method.

Changes must be done in the `valid?` method fro

[2019-01-15 14:07] catacs opened #33 "Trial period check in Google Play doesn't work"
When I try to call `trial?` method from `CandyCheck::PlayStore::Subscription` class i get false when a subscription is trial. Checking the google play documentation, the added a new payment_state with value 2 which is trial.

https://developers.google.com/android-publisher/api-ref/purchases/subscriptions

[2019-03-15 13:52] mathiastambjergsteengaard opened #34 "get the cancelSurveyReason from the google api"
The google api has cancelSurveyReason fields in the docs. It would be nice to be able to get this data

![image](https://user-images.githubusercontent.com/14214026/54435973-fb80c280-4731-11e9-801c-5f00ca84eeb0.png)

[2019-07-16 18:07] sonxurxo opened #36 "AppStore subscription verification does not filter the current productId"
Hi

First off thank you for the great effort building this gem.

I think there is a bug in the subscription verification process. After validating the receipt, the `ReceiptCollection` is built with **all** the receipts, without any option to filter by `[productId]`. There is no option to check the subscription status of one or more specific productIds.

I'll fork the project and try to build a PR

[2019-07-16 18:10] sonxurxo opened #37 "ReceiptCollection gets the expired_at from the "last" receipt, but not the "latest""
This is an issue when verifying the subscription for the receipt obtained by restoring purchases. I noticed than that receipt contains the same receipts but in different order, so _the last in the list is not the latest in time_. This also happens with `trial?` and other methods, since they use the same receipt.

I'll fork the project and try to submit a PR for this.

[2019-07-17 14:45] jnbt commented on #31
Work for this is in progress in #35

[2019-07-17 14:46] jnbt commented on #28
Currently a writeable volume is required. Once we migrated to the new Google API client (in #35) this should be obsolete.

[2019-07-17 14:46] #28 closed

[2019-07-17 14:46] jnbt commented on #18
Work has been started in #35

[2019-07-17 14:46] #18 closed

[2019-07-17 14:47] jnbt commented on #17
Will be also solved by #35

[2019-07-17 14:49] #25 closed

[2019-07-17 15:34] sonxurxo commented on #36
Hi @jnbt . I've just submitted a PR (#38). Please let me know if this can be merged or if it needs any improvements.

[2019-09-13 14:11] jnbt commented on #31
@pooja1690 I just gave the whole topic a higher priority on our companies schedule. We definitely need to adopt the new API also for our own projects. The plan is to assign one or two developers to this topic at the beginning of October.

[2019-09-13 14:13] jnbt commented on #31
@christophweegen We need to push the efforts on this issue!

[2019-09-13 14:25] pooja1690 commented on #31
That helps. Thanks for the update @jnbt !

[2019-10-24 18:37] nicolasevigo commented on #31
touching base, any update on this @jnbt?

[2019-10-24 19:44] christophweegen commented on #31
Hello @nicolasevigo,

I'm working on this in https://github.com/jnbt/candy_check/pull/35 and it will be ready in the upcoming 2 weeks for sure, since we're relying on that feature too.

[2019-11-07 12:06] jnbt commented on #11
Closing this issue, as support of JSON-based key files was introduced with version 0.2.0. See the [Migration Guide](https://github.com/jnbt/candy_check/blob/master/MIGRATION_GUIDE_0_2_0.md) for more information.

[2019-11-07 12:06] #11 closed

[2019-11-07 12:08] jnbt commented on #31
Hi @nicolasevigo,

we updated the dependency. Sadly Google has changed the whole authentication system, so we needed to introduce some breaking changes to the PlayStore functionality. If you're upgrading from a CandyCheck version < 0.2.0 see the [Migration Guide](https://github.com/jnbt/candy_check/blob/master/MIGRATION_GUIDE_0_2_0.md) for more information.

Maybe you can try and give feedback!

[2019-11-07 12:09] jnbt commented on #12
The new PlayStore part of the gem is now much better explained in the README.

[2019-11-07 12:09] #12 closed

[2019-11-07 12:10] jnbt commented on #23
As we cannot reproduce it, I'll close this issue now. Feel free to open a new one if this is still relevant.

[2019-11-07 12:10] #23 closed

[2019-11-07 12:48] jnbt commented on #17
Solved by #35 as the whole cache is not needed anymore. Please see the [Migration Guide](https://github.com/jnbt/candy_check/blob/master/MIGRATION_GUIDE_0_2_0.md) for more information.

[2019-11-07 12:48] #17 closed

[2019-11-07 12:54] #36 closed

[2019-11-07 12:55] #37 closed

[2019-11-07 14:20] jnbt commented on #20
Fix included in version `0.2.1`

[2019-11-07 14:20] #20 closed

[2020-02-06 10:07] Nerian opened #44 "Error with google-api-client (0.36.4)"
Using

- candy_check 0.0.3
- google-api-client (0.36.4)

I get an error merely trying to get rails to start. Seems like this gem is not requiring the google-api-client gem correctly.

Any workaround?

[code]

[code]

[2020-02-06 10:17] Nerian commented on #44
Oh I noticed that if I just put `gem 'candy_check'` in the Gemfile it will use a very old version of candy_check. If I force the current version for candy_check, then google-api-client is downgraded.

From 0.36.4 to 0.34.1 .

And Rails loads.

[code]

[2020-02-06 10:25] jnbt commented on #44
I think this is related to having candy_check's Google Api dependency set to `~> 0.34.0`. Maybe we should soften this restriction to `~> 0.34`?

@christophweegen What is your opinion here? Can you test with `google-api-client:0.36.4`?

[2020-03-26 16:16] StevenHarlow opened #47 "Errno::ECONNRESET (Connection reset by peer - SSL_connect):"
I'm getting a Connection reset by peer when running `verify_subscription`

[code]

[2020-03-26 22:23] StevenHarlow commented on #47
This is happening in the sandbox environment for the app store. Any thoughts on what might be happening?

[2020-04-04 07:33] maxencehenneron commented on #47
I have the same issue, and there's nothing we can do about it, the appstore sandbox is just extremely buggy. Just resend the request until it is accepted. In production, with real credit card, it works all the time

[2020-04-24 14:35] tbem opened #48 "Implement the playstore acknowledge purchases methods."
It would be nice to can acknowledge purchases into the play store, with the acknowledge_purchase_product and acknowledge_purchase_subscription methods available on the AndroidPublisherService.

[2020-05-08 13:34] gerard-morera opened #49 "Receipt methods return nil"
I am not sure whether I am misusing the gem or there is a Bug.

From `apple_store#verify` I am receiving  an instance of `CandyCheck::AppStoreReceipt`. When I try to access [any of the public methods](https://github.com/jnbt/candy_check/blob/master/lib/candy_check/app_store/receipt.rb) the return is nil.

The reason is that the [read method](https://github.com/jnbt/candy_check/blob/aa190df4ea43eca

[2020-05-11 15:48] jnbt commented on #49
Hi @gerard-morera,

maybe an issue could be that you're not using the deprecated [`transactionReceipt`](https://developer.apple.com/library/ios/documentation/StoreKit/Reference/SKPaymentTransaction_Class/index.html#//apple_ref/occ/instp/SKPaymentTransaction/transactionReceipt)?

I think this gem only works this these kind of receipts.

[2020-05-11 15:56] jnbt commented on #47
I can confirm this observations. The sandbox is very unreliable. But even for production the application should handle these scenarios, because there might be a network failure.

What we're typically are doing is to but these kind of verifications into a queue or asynchronous task, which can be restarted with some exponential backoff algorithm.

[2020-05-11 15:56] #47 closed

[2020-05-11 16:00] jnbt commented on #49
I just checked, and for a **old-school** (deprecated) receipts the AppStore API returns data like this:

[code]

@gerard-morera I think you're using the more modern (or let us be honest: not fully deprecated) receipt of the app, which include all In-App-Purchases at once. Apple definitely encourages to use this approach. Sadly this gem has still no support for it.

[2020-05-11 16:02] jnbt commented on #48
@tbem This is indeed a good idea especially for non-consumable in-app purchases.

Feel free to send a PR for this task.

/cc @christophweegen

[2020-05-11 16:02] #31 closed

[2020-05-11 16:03] jnbt commented on #30
Sorry that I didn't managed to support you on this topic.

[2020-05-11 16:03] #30 closed

[2020-05-12 11:45] gerard-morera commented on #49
Hi, @jnbt thanks for your fast answer. How can I ensure to receive the receipts on the supported format?

[2020-05-12 12:00] jnbt commented on #49
@gerard-morera The way I know is the following:

1. Implement the observer pattern for [`paymentQueue:updatedTransactions`](https://developer.apple.com/documentation/storekit/skpaymenttransactionobserver/1506107-paymentqueue?language=objc)
2. Invoke a In-App-Purchase
3. The `paymentQueue:updatedTransactions` will be called with at least one transaction. For every transaction:
    1. Check for it's

[2020-06-22 15:43] gerard-morera commented on #48
Hi! I have [a PR](https://github.com/jnbt/candy_check/pull/50) that should fix this issue.

[2020-07-08 10:18] nirazan1 opened #51 "Google::Apis::ClientError ???"
What could be the root cause of the error as follow:
`Caught error invalid: Invalid Value
Error - #<Google::Apis::ClientError: invalid: Invalid Value status_code: 400 header: #<HTTP::Message::Headers:0x00007fd3b4d1ca88 @http_version="1.1", @body_size=0, @chunked=false, @request_method="GET", @request_uri=#<Addressable::URI:0x3fe9dc587e64 URI:https://www.googleapis.com/androidpublisher/v3/applicati

[2020-07-09 18:03] nirazan1 commented on #51
it was issue with fake purchase token after all. I wish the error message said something simple like `Invalid purchase token`

[2020-07-09 18:03] #51 closed

[2020-07-13 12:05] sajjadmurtaza opened #52 "Candy Check does not install latest changes of gems"
When i try to add `candy_check`

It does not install [Add server ACK for consumable #50
](https://github.com/jnbt/candy_check/pull/50).

Even i tried to update the gem but still same results. i.e. `bundle update candy_check`

any suggestion/help will be appreciated

https://github.com/jnbt/candy_check/blob/master/lib/candy_check/play_store/acknowledger.rb
https://github.com/jnbt/candy_check/pull/5

[2020-07-13 13:28] sajjadmurtaza commented on #52
I fixed this by using

`gem 'candy_check', git: 'https://github.com/jnbt/candy_check', branch: 'master'
`

But i really want with gem version
`gem 'candy_check', '~> VERSION'
`

[2020-07-13 20:14] christophweegen commented on #52
Hello @sajjadmurtaza thank you for your message.

The reason why you can't install it the usual way is because we haven't released a new gem version with the mentioned changes on rubygems.org yet.

I will do it tomorrow. I will keep you updated when it's done.

Greetings!

[2020-07-13 20:19] christophweegen commented on #52
@sajjadmurtaza by the way if you're interested and don't know yet where Ruby finds it's gems (and how you can build a gem on your own) you can follow the official guides https://guides.rubygems.org/ 👍

[2020-07-17 08:27] sajjadmurtaza commented on #52
@christophweegen thanks and please update when you will release it 🚀 .

Thanks in advance 👍 .

[2020-07-23 10:54] Achilles718611 opened #53 "How to check receipt is renewable for Apple IAP?"
I can get purchse information using CandyCheck, this is really great.
But I don't know how to check it's renewable or not.
I checked receipt_collection.rb, receipt.rb files, there is not variable which represents renewable.
Can you guide me please?

[2020-07-24 12:32] Achilles718611 opened #55 "Update google-api-client verison"
I noticed candy_check uses old google-api-client (0.34.1).
That gem has not new features which is supported by google's Purchaess.subscription.
For example, we have to have constant filed across all transactions for one user (in case of Apple original transaction id).
Google added filed called obfuscatedExternalProfileId for this purpose.
To use that filed, we have to use the latest goolgle-api-cl

[2020-10-02 15:44] Nerian commented on #44
Any news?

[2020-10-07 08:44] henrikholm89 commented on #48
When will this actually be released? It seems like I have to fork the repo to get this feature right?

[2020-10-07 19:19] christophweegen commented on #55
Hello @Achilles718611 sorry for the late reply. I just released candy_check `0.3.0`, which uses google-api-client `0.43.0`.

[2020-10-07 19:19] #55 closed

[2020-10-07 19:23] christophweegen commented on #52
Hello @sajjadmurtaza, sorry for the late reply. I finally released a new version of candy_check. Version `0.3.0` is available via rubygems.org now. You're welcome.

[2020-10-07 19:23] #52 closed

[2020-10-07 19:28] christophweegen commented on #44
Hey @Nerian, sorry for the late reply. I just released `candy_check:0.3.0` which uses `google-api-client:0.43.0`. Can you please check if your problem still persists after upgrading?

[2020-10-07 19:52] Achilles718611 commented on #55
Great, thank you.

[2020-10-08 07:10] jnbt commented on #48
@henrikholm89 A new gem version `0.3.0` was released yesterday by @christophweegen

[2020-10-08 07:11] #49 closed

[2020-10-26 17:58] Nerian commented on #44
Thanks!

[2020-10-26 17:58] #44 closed

[2020-12-11 16:31] iDuuck commented on #48
@jnbt Sadly, acknowledging a subscription is not included in `0.3.0`, if it is not in your stash, I would be glad to try to help with this issue.

[2021-01-07 05:09] andyjamesduncan opened #61 "Problem with Google APIs"
I have installed candy_check and added the following to my Gemfile:

gem 'candy_check'

I have then run 'bundle install, with no problem.

But when I run my rails server in development, I keep getting this error:

`require': cannot load such file -- google/api_client (LoadError)

I have tried as many solutions as I could find on Stack Overflow and elsewhere, such as adding the following the my Gem

[2021-01-11 12:07] SergioSoftwhisper opened #63 "unknown attribute 'in_app_ownership_type' for IosTransaction."
Hi, we were trying to verify a receipt and we have got this error "unknown attribute 'in_app_ownership_type' for IosTransaction.".
We  have solved adding to the DB table "ios_transactions" the attribute "in_app_ownership_type" as string.
In November 2020 all works ok.

[2021-01-11 17:08] devchris commented on #61
Same ✋

[2021-01-27 22:29] skliarov opened #64 "Ruby 3.0.0 support"
@jnbt during upgrade from Ruby 2.7.1 to 3.0.0 `candy_check` downgrades, because of dependency on `google-api-client`. Another problem is that `google-api-client` is deprecated and needs to be replaced.

[code]

Hardcoding the latest version of `candy_check` (0.4.0) in Gemfile does not work either.

[code]

[2021-05-31 02:06] courtsimas commented on #64
Has there been any resolution to this?

[2021-05-31 12:07] jnbt commented on #64
@skliarov Thanks for the report. I'm currently a little bit slow on contributions to this project, nevertheless we're still using it in production. Sadly my use-case involves an integration in JRuby which is currently not on the Ruby 3.0.0 train.

Luckily  @dsantosmerino started a PR with updated gem for the Google integration in #65. Maybe you want to try this PR if it solves your issues.

[2021-05-31 12:08] jnbt commented on #63
@SergioSoftwhisper I'm a little bit lost on this topic, because this gems doesn't ship with any database connection at all. Can you provide some source code to showcase the problem?

[2021-05-31 12:10] jnbt commented on #33
@christophweegen Can you please have a look here. I think we need to whitelist the value `2` on `CandyCheck::PlayStore::Subscription#trail?`.

[2021-06-24 17:29] christopheragnus commented on #64
Any progress on this?

[2021-06-24 17:58] christopheragnus opened #66 "Add ability to add Rails secret credentials hash"
Hey,

I'm using this library for Rails. Is there a way we can replace the `File.open()` under `CandyCheck::PlayStore.authorization` with
`StringIO()`  or the ability to pass in an hash of encrypted Rails credentials (to avoid storing credentials publicly in Rails)?

[code]

[2021-07-08 08:45] fabn commented on #66
You can solve it by using this to build an authorization object:

[code]

[2021-07-15 13:31] NemyaNation opened #68 "SubscriptionPurchase for Google Receipts OrderId is Curtailed?"
The code:
[code]
outputs `order_id => "GPA.1234-1234-1234-12345..1"`

Emphasis on the `..`, it seems like it's sending back a shortened form of the order_id?

Can anyone confirm/alleviate my suspicions.

Kind regards, NemyaNation

[2021-07-15 14:19] NemyaNation commented on #68
Just seen the Android Docs -> https://developer.android.com/google/play/billing/integrate

[code]

Seems like it's working as intended, can close issue now, thanks!

Kind regards, NemyaNation

[2021-07-15 14:19] #68 closed

[2021-08-31 07:41] mehul1997 commented on #61
Same

[2021-09-27 14:37] NemyaNation opened #69 "Abillity to check if Subscription Cancelled? (IOS)"
This isn't working anymore

`.valid?` => https://www.rubydoc.info/github/jnbt/candy_check/master/CandyCheck%2FAppStore%2FReceipt:valid%3F

----

Any tips on how I can check to see if a renewable subscription has been cancelled or not?

[2021-12-06 21:11] #64 closed

[2022-03-07 09:50] Freddy03h commented on #69
I've got the same question, it seems that `cancellation_date` on iOS is only there when user revoke or refund the transaction : https://developer.apple.com/documentation/appstorereceipts/cancellation_date_ms

I don't think there is a way to know when the user cancel the auto-renewal subscription, but there is `auto_renew_status` to know if the user turned off automatic renewal : https://developer.

[2022-04-24 07:40] RenatoSerra22 opened #72 "Docs are broken"
Hello,

I think the Docs are broken
https://www.rubydoc.info/github/jnbt/candy_check/master/CandyCheck/PlayStore/SubscriptionPurchases/SubscriptionPurchase

[2022-07-12 19:20] raresabr opened #73 "Add support for Ruby 3+ and Rails 7"

[2022-07-26 14:29] RenatoSerra22 commented on #51
Hi, @nirazan1 how did you find out it was a fake token? i have one a user of my app who is facing this issue while others seem to be working fine

[2022-07-26 14:30] RenatoSerra22 opened #76 "invalid: Invalid Value"
Hello,

Im validating receipt on android and ios for subscriptions.
It seems to be doing things correctly for both.
Although on android one user in Turkey purchasing is causing `invalid: Invalid Value` http 400.
How do i find out what is wrong, i only have 1.5k MAU id be surprised if someone is trying to create a fake subscription.. but who knows

[2022-07-26 14:34] nirazan1 commented on #51
I manually verified the user with subscription in google play console

[2022-07-26 18:57] RenatoSerra22 commented on #51
you mean their subscription didnt show in the analytics? or is there a tool in google play console im missing?